<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="6a8c82be-eaaa-49a0-b637-3c318bd120f7" created="2.3.0-SNAPSHOT" activeEnvironment="Default environment" name="Project 1" resourceRoot="" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6a8c82be-eaaa-49a0-b637-3c318bd120f7fileName">Project-1</con:setting>
  </con:settings>
  <con:vcsConfiguration>
    <con:vcsName>Git</con:vcsName>
    <con:repositoryIdentifier>https://github.com/omitina/hello-world</con:repositoryIdentifier>
  </con:vcsConfiguration>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:properties/>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:reporting/>
  <con:authRepository/>
  <con:tags/>
</con:soapui-project>
