<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="2e795223-553e-4f03-bef4-90fdc144cb7b" created="2.3.0-SNAPSHOT" activeEnvironment="Default environment" name="Project 1" resourceRoot="" updated="2.3.0-SNAPSHOT 2018-01-25T09:11:36Z" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config">
  <con:settings/>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:properties/>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:authRepository/>
  <con:tags/>
</con:soapui-project>
