<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ae3585d3-ca8f-4c19-8784-606f4d642e46" name="Project 5 TestSuite 1" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="ae3585d3-ca8f-4c19-8784-606f4d642e46fileName">Project-5-TestSuite-1</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>