<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f750e849-7452-420d-9d68-f136074bd53c" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f750e849-7452-420d-9d68-f136074bd53cfileName">TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
