<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="9fd82de1-27e8-407f-ab67-8efb7f24bbca" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="9fd82de1-27e8-407f-ab67-8efb7f24bbcafileName">TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
