<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="24fe0430-bbe9-4b3d-aea6-1d7a13ee082d" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="24fe0430-bbe9-4b3d-aea6-1d7a13ee082dfileName">TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
