<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="ad846c15-66f5-43fd-b62f-188f5dd44fff" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 1" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="ad846c15-66f5-43fd-b62f-188f5dd44ffffileName">REST-Service-1</con:setting></con:settings><con:definitionCache/><con:endpoints/></con:interface>