<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="45b118b5-86b6-43cd-b18e-d8cb6513f5a6" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 2" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="45b118b5-86b6-43cd-b18e-d8cb6513f5a6fileName">REST-Service-2</con:setting></con:settings><con:definitionCache/><con:endpoints/></con:interface>